body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}
:focus { outline: 0; }
a {
    text-decoration: none;
    color: #444;
    word-wrap: nowrap;
}
img { width: 100%; }
#container {
    width: 100vmin;
    margin: 5vmin auto;
}
header img {
    width: 20vmin;
    margin-left: 5vmin;
}
h1 {
    display: inline-block;
    font-size: 8vmin;
    font-weight: normal;
    position: relative;
    top: -3vmin;
    left: 5vmin;
    margin: 0;
    color: #222;
}
nav {
    float: left;
    width: 20vmin;
    margin-left: 5vmin;
}
hr {
    margin: 2vmin;
    border: none;
}
nav a {
    display: block;
    font-size: 3vmin;
    margin: 0;
    padding: 1vmin;
    color: #aaa;
}
nav a:hover, .fade { color: #444; }
#wireworld, #about {
    float: left;
    width: 70vmin;
}
.wireworld-cell {
    display: inline-block;
    height: 3.375vmin;
    width: 3.375vmin;
    border-radius: 5vmin;
    font-size: 3.375vmin;
    line-height: 3.375vmin;
    margin: 0.5vmin;
    cursor: pointer;
}
#about div {
    display: inline-block;
    font-size: 2.6vmin;
    line-height: 2;
    color: #444;
}
#about div.fade { color: #ddd; }
.x12 { width: 100%; }
.x6 { width: 48%; }
.x4 { width: 32%; }
.x3 { width: 25%; }
